@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #8d8989;
  color: rgb(28, 59, 214);
}

.spinner {
  animation: spin infinite 1s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
